*{ 
    margin: 0px;
    
}
section {
    background-color: teal;
}

header{
    background-color:#e9e9e9 ;
    width: 1000px; 
    height: 150px; 
    text-align: center 
}
 
main{
    width: 1136px; 
    margin: auto;
    
} 

.article-7 {
    background-color: white; 
} 
.article-8 {
    background-color: white; 
} 

body  {
    background-color: grey;
} 

img {
    position: absolute;
    right: 484px;
}