*{ 
    margin: 0px;
    
}
section {
    background-color: teal;
}

header{
    background-color: skyblue;
}
 
main{
    width: 1136px; 
    margin: auto;
    
} 

.article-7 {
    background-color: white; 
} 
.article-8 {
    background-color: white; 
} 

body  {
    background-color: grey;
}